<div class='comment' data-id='<%= comment.id %>'>
  <strong><%= comment.user.full_name %></strong>
  <div class='float-right'>
    <%= link_to fa_icon('trash'), project_task_list_task_comment_path(id: comment.id, task_id: @task.id), method: :delete, remote: true, class: 'btn btn-sm btn-danger btn-circular' %>
  </div>
  <%= comment.body %>
</div>
