$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import 'actiontext';
// Customize variables here

$blue: #0984e3;

.black {
  color: black !important;

  &:hover {
    color: $blue !important;
  }
}

@import '~startbootstrap-sb-admin-2/scss/sb-admin-2';
@import '~bootstrap/scss/bootstrap';
@import '~toastr/toastr.scss';

.body {
  font-family: 'Montserrat', sans-serif;
}

.fix-float {
  clear: both;
}

.comment {
  padding: 10px;
  border-top: 1px solid grey;
}

.list-group-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

.list-group {
  min-height: 200px;
}
