<!DOCTYPE html>
<html>
  <head>
    <title>Jupiter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page-top">
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>
